<div id="modal-loading" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Processing your order</h4>
      </div>
      <div class="modal-body text-center">
        <img src="/img/loading.gif" alt="Loading" />
        <h1>Please wait...</h1>
      </div>
    </div>
  </div>
</div>