        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Moip Integration Sample - Node.js</h4>

                    <p>Sample integration for <a href="https://moip.com.br/en/" target="_blank">Moip payment gateway</a> using Node.js.</p>

                    <p><em>Please keep in mind this is a sample, so validation and full error handling is not available.</em></p>

                    <h4>Testing</h4>

                    <p>Follow the steps on the page to test the app. When entering data, try to follow on screen formats and messages, so the app will work properly.</p>

                    https://github.com/intentor/moip-integration-sample
                </div>
                <div class="col-md-6">
                    <a href="https://moip.com.br/en/" target="_blank">
                        <img src="/img/moip_logo.png" alt="Moip" title="Go to Moip website" />
                    </a>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
		<script src="/js/app.min.js"></script>
    </body>
</html>