<div id="step2" class="container step-box">

  <div class="row steps">
    <div class="col-xs-12">
      <div class="step-container step-advance hidden-xs">
        <span class="step-number">1</span>
        Select messages
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>

      <div class="step-container step-advance">
        <span class="step-number">2</span>
        Enter your data
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>

      <div class="step-container hidden-xs">
        <span class="step-number">3</span>
        Pay
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>
        
      <div class="step-container hidden-xs">
        <span class="step-number">4</span>
        Receive daily e-mails!
      </div>
    </div>
  </div>

  <div id="products-step2" class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th colspan="3">Products</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Suck it Up ($5.00)</td>
              <td>x2 years</td>
              <td><strong>$10.00</strong></td>
            </tr>
            <tr>
              <td>Summing Up ($2.00)</td>
              <td>x2 years</td>
              <td><strong>$4.00</strong></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">Discounts</td>
              <td><strong class="value-discounts">$1.00</strong></td>
            </tr>
            <tr>
              <td colspan="2">Interest</td>
              <td><strong class="value-interest">$1.00</strong></td>
            </tr>
            <tr>
              <td colspan="2">Total</td>
              <td><strong class="value-total">$14.00</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Who are you?</h3>
      <form id="form-step2" class="form-horizontal">
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" maxlength="255">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="btn-continue" type="button" class="btn btn-primary btn-lg">Continue for credit card details</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>