<% include ../partials/_header.ejs %>
		
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <a href="#" class="pull-left"><img src="/img/logo.png" alt="NoJunkMail.com" class="img-responsive"/></a>
      <p class="pull-right navbar-subheader">We send you messages for a happy day!</p>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>Tired of boring e-mails?</h1>
    <p>Select the messages you want to receive and we send you them daily!</p>
  </div>
</div>

<div id="carousel-steps" class="carousel slide" data-ride="carousel" data-pause="null" data-keyboard="null" data-interval="9999999999">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <% include ../partials/_step1.ejs %>
    </div>
    <div class="item">
      <% include ../partials/_step2.ejs %>
    </div>
    <div class="item">
      <% include ../partials/_step3.ejs %>
    </div>
    <div class="item">
      <% include ../partials/_step4.ejs %>
    </div>
  </div>
</div>

<% include ../modals/_loading.ejs %>
<% include ../modals/_message.ejs %>

<% include ../partials/_footer.ejs %>